/* =============
    Section 1
============= */

#section-1{

    display: grid;
    grid-template-columns: auto 70% auto;
    grid-template-areas: ". motion .";
    
    >div{
        grid-area: motion;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            width: 100%;
        }
    }


        // #play{
        //     opacity: 0;
        // }

        #Take-a-right-on-Ches{
            opacity: 0;
        }

        #touch-print{
            opacity: 0;
        }

        #outside-ring{
            opacity: 0;
        }

        #phone-icon-big{
            opacity: 0;
        }

        #phone-icon-big{
            opacity: 0;
        }

        #fan-icon-big{
            opacity: 0;
        }

        #radio-icon-big{
            opacity: 0;
        }

        #pause-1{
            visibility: hidden;
        }

        #pause-2{
            visibility: hidden;
        }

        #logo{
            opacity: 0;
        }

        #clock-weather-date{
            opacity: 0;
        }

        #nav-map{
            opacity: 0;
        }

        #prndl{
            opacity: 0;
        }

        #music-stuff{
            opacity: 0;
        }

        #HC-stuff{
            opacity: 0;
        }

        #nav-stuff{
            opacity: 0;
        }

        #phone-stuff{
            opacity: 0;
        }

        #speed-stuff{
            opacity: 0;
        }

        
}



